[submodule "third_party/tenta/file_blocks"]
	path = third_party/tenta/file_blocks
	url = git@bitbucket.org:mikandi/fileblocks-sqlite.git
[submodule "third_party/tenta/sqlitecrypt"]
	path = third_party/tenta/sqlitecrypt
	url = git@bitbucket.org:mikandi/android-database-sqlitecrypt.git
